button {
    border: none;
    margin: 0;
    height: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    /* background: transparent; */

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

* {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

body {
    background-image: url("background.png");
}

#nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 15%;
}

button {
    padding: 10px;
    margin: 2px;
    height: 75px;
    background-color: rgba(90, 90, 90, 0.7);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button {
    border: 1px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

button:active {
    transition: none;
    -webkit-transition: none;
}

button::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    z-index: -1;
    width: 0%;
    height: 3px;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

button:hover::before {
    width: 100%;
}

button::after {
    content: '';
    position: absolute;
    right: 0px;
    top: -1px;
    z-index: -1;
    width: 0%;
    height: 3px;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

button:hover::after {
    width: 100%;
}

/* RESET, SONNE & MARS*/

#reset:hover,
#sonne:hover,
#mars:hover {
    background-color: rgba(137, 47, 82, 0.7);
    border-left: 3px solid rgba(187, 97, 132, 0.7);
    border-right: 3px solid rgba(187, 97, 132, 0.7);
}

#reset:active,
#sonne:active,
#mars:active {
    background-color: rgba(187, 97, 132, 0.7)
}

#reset::before,
#sonne::before,
#mars::before {
    background: rgba(187, 97, 132, 0.7);
    box-shadow: inset 0px 0px 0px rgba(187, 97, 132, 0.7);
}

#reset::after,
#sonne::after,
#mars::after {
    background: rgba(187, 97, 132, 0.7);
}

/* GRÖẞENVERGLEICH, MERKUR & JUPITER*/

#größenvergleich:hover,
#merkur:hover,
#jupiter:hover {
    background-color: rgba(126, 69, 164, 0.7);
    border-left: 3px solid rgba(176, 119, 214, 0.7);
    border-right: 3px solid rgba(176, 119, 214, 0.7);
}

#größenvergleich:active,
#merkur:active,
#jupiter:active {
    background-color: rgba(176, 119, 214, 0.7);
}

#größenvergleich::before,
#merkur::before,
#jupiter::before {
    background: rgba(176, 119, 214, 0.7);
    box-shadow: inset 0px 0px 0px rgba(176, 119, 214, 0.7);
}

#größenvergleich::after,
#merkur::after,
#jupiter::after {
    background: rgba(176, 119, 214, 0.7);
}

/* GESCHWINDIGKEIT, VENUS & SATURN*/

#geschwindigkeit:hover,
#venus:hover,
#saturn:hover {
    background-color: rgba(215, 120, 184, 0.7);
    border-left: 3px solid rgba(255, 170, 234, 0.7);
    border-right: 3px solid rgba(255, 170, 234, 0.7);
}

#geschwindigkeit:active,
#venus:active,
#saturn:active {
    background-color: rgba(255, 170, 234, 0.7);
}

#geschwindigkeit::before,
#venus::before,
#saturn::before {
    background: rgba(255, 170, 234, 0.7);
    box-shadow: inset 0px 0px 0px rgba(255, 170, 234, 0.7);
}

#geschwindigkeit::after,
#venus::after,
#saturn::after {
    background: rgba(255, 170, 234, 0.7);
}

/* REALISTISCH, ERDE & URANUS */

#realistisch:hover,
#erde:hover,
#uranus:hover {
    background-color: rgba(85, 79, 189, 0.7);
    border-left: 3px solid rgba(135, 129, 239, 0.7);
    border-right: 3px solid rgba(135, 129, 239, 0.7);
}

#realistisch:active,
#erde:active,
#uranus:active {
    background-color: rgba(135, 129, 239, 0.7);
}

#realistisch::before,
#erde::before,
#uranus::before {
    background: rgba(135, 129, 239, 0.7);
    box-shadow: inset 0px 0px 0px rgba(135, 129, 239, 0.7);
}

#realistisch::after,
#erde::after,
#uranus::after {
    background: rgba(135, 129, 239, 0.7);
}

/*planeten buttons*/

#planeten {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#planeten button {
    width: 12.5%;
    padding: 10px;
    margin: 2px;
    background-color: rgba(90, 90, 90, 0.7);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}