@import "base";
.info {
    width: 400px;
    background-color: $greyBackground;
    border: 2px solid $greyBackgroundLight;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h2 {
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
        border-bottom: 2px solid $greyBackgroundLight;
    }
}