@import "base";

#linkWrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    background-color: $greyBackground;
    border: 2px solid $greyBackgroundLight;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


a {
    outline: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    border: 1px solid transparent;
}

a:active {
    color: black;
}

a:hover {
    background-color: black;
}

#link1 {
    color: $magenta;
}

#link1:visited {
    color: white;
}

#link1:active {
    color: black;
}

#link1:hover {
    border: 1px solid $magentaTransparent;
}

#link2 {
    color: $pink;
}

#link2:visited {
    color: white;
}

#link2:active {
    color: black;
}

#link2:hover {
    border: 1px solid $pinkTransparent;
}

#link3 {
    color: $purple;
}

#link3:visited {
    color: white;
}

#link3:active {
    color: black;
}

#link3:hover {
    border: 1px solid $purpleTransparent;
}

#link4 {
    color: $blue;
}

#link4:visited {
    color: white;
}

#link4:active {
    color: black;
}

#link4:hover {
    border: 1px solid $blueTransparent;
}