@import "base";

.infoFacts {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: $greyBackground;
  border: 2px solid $greyBackgroundLight;
}

ul {
  margin: 10px;
  padding-left: 25px;
  font-size: 16px;
}