.infoFacts {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgba(90, 90, 90, 0.7);
    border: 2px solid rgba(180, 180, 180, 1);
  }
  
  ul {
    margin: 10px;
    padding-left: 25px;
    font-size: 16px;
  }