.info {
    background-color: rgba(90, 90, 90, 0.7);
    width: 400px;
    padding: 0 20px;
    border: 2px solid rgba(180, 180, 180, 1);

    h2 {
        text-align: center;
        padding-bottom: 20px;
        text-transform: uppercase;
        border-bottom: 2px solid rgba(180, 180, 180, 1);
      }
  }
  
  img {
    width: inherit;
  }
  